name: Release

on:
  push:
    branches:
      - main

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go 1.19
        uses: actions/setup-go@v2
        with:
          go-version: '1.19'  # Make sure this matches the version in your go.mod file

      - name: Run Go Mod Tidy
        run: go mod tidy
    
      - name: Bump version and tag
        id: bump_version
        run: |
          chmod +x .github/scripts/bump_version.sh
          .github/scripts/bump_version.sh

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --clean --debug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
        
            
